<% provide(:title, 'ТСЖ \"ЖК40\"') %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
  </head>
  <body>
    <div class="page-header">
      <h1>
        Товарищество собственников жилья "ЖК40"
      </h1>
      <h2>
        Члены ТСЖ:
      </h2>
      <p>
        Членами ТСЖ являются собственники квартир с 1 по
        184, жилого дома, расположенного по адресу г.
        Екатеринбург, ул. Черепанова, дом 30.
      </p>
    </div>
      <div class="short_news">
        <h2>
          Новости:
        </h2>
		<%=render :partial => "news/short_news", :collection => @news, :as => :one_news%>
      </div>
      <div class="notices">
        <h2>
          Объявления:
        </h2>
	<%=render :partial => "ads/short_ad", :collection => @ads %> 
      </div>
  </body>
</html>
