<% provide(:title, @user.fio) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= fio @user%>
        <r>
        <%= @user.Account %>
        </r>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
