<li class="news_item">
	<div >
	<h3>
		<%= one_news.title%>
    </h3>	
	
<%= image_tag one_news.picture.url(:medium) %> 
	<p>Добавлено <%= one_news.created_at.to_s(:ru_datetime) %></p>
	<p><%= one_news.content %></p>
	</div>
</li>
