<% provide(:title, 'Документы') %>
<h1>Документы</h1>

<%= will_paginate %>
<ul>
  <%= render(:partial => "document", locals: {document: nil}) if current_user && current_user.isAdmin?%> 
  <%= render :partial => "document", :collection => @documents %>  
</ul>
<%= will_paginate %>
