<tr>
	<td>
		<%= meterage.counter_type.name %>
	</td>
	<td>
		<%=  if meterage.prev then if meterage.prev.value2==nil then "#{meterage.prev.value}" else "#{meterage.prev.value}/#{meterage.prev.value2}" end end%>
		
		</td>
	<td>
		<%= if meterage.value2==nil then "#{meterage.value}" else "#{meterage.value}/#{meterage.value2}" end %>
	</td>
</tr>
